article[class^='caja']{
	height:320px;
	width:400px;
	display:inline-block;
	border:2px solid black;
}

.caja{
	margin: 50px 10px 50px 10px;
}

h1{

	/*display: none;*/
	
	
	text-align: center;
	font-size: 300%;
}
h2{
	background-color: blue;
   display: inline;
}

p{
	display: inline;
}